/* 1150px === 115rem === 71.865em */
@media screen and (max-width: 71.865em) {
    html {
        font-size: 59%;
    }
    .navbar__list {
        gap: 2.4rem;
    }
    .featured__flex {
        gap: 1.4rem;
    }
    .featured__flex img {
        height: 6rem;
    }
    img.prestige {
        height: 4rem;
    }
}

/* 1050px === 105rem === 65.625em */
@media screen and (max-width: 65.625em) {
    .nav__item a {
        font-weight: 500;
    }
    .navbar__list {
        gap: 1.8rem;
    }
    .navbar__button a {
        padding: 1rem 1.8rem;
    }
    .footer__grid {
        grid-template-columns: 50fr 15fr 25fr 15fr;
        gap: 2.8rem;
    }

    /* others */
    .lab__grid, .lab__grids {
        gap: 4.2rem;
    }
    .checkout {
        gap: 6.2rem;
        justify-content: space-between;
        align-items: center;
    }
    .frontend--skills {
        justify-content: flex-start;
    }
}


/* remember to do something on the course from 950px to 850px */


/* 820px === 82rem === 51.25em */
@media screen and (max-width: 51.25em) {
    html {
        font-size: 56.25%;
    }
    .about__content {
        grid-template-columns: 1fr;
    }
    .navbar__list .navbar__item {
        font-size: 1.4rem;
    }
    .courses__figure {
        display: flex;
        flex-direction: column;
        padding: 0;
        border: none;
        gap: 0rem;
        overflow: hidden;
    }
    .course--content {
        padding: 2.4rem;
    }
    .course--image {
        width: 100%;
        border: none;
        border-radius: 0;
        text-align: center;
    }
    .content--heading {
        margin-top: 0;
    }
    .courses__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4.2rem;
    }
    .why__cards {
        gap: 1.8rem;
    }
    .why--figure {
        padding: 1.8rem;

    }
    .footer__grid {
        grid-template-columns: repeat(6, 1fr);
    }
    .footer__grid div:nth-child(1) {
        grid-column: 1 / -1;
        gap: 1.2rem;
        margin-bottom: 4.8rem;
    }
    .footer__grid ul {
        grid-row: 2 / 3;
    }
    .footer__grid ul:nth-child(1) {
        grid-column: 1 / 2;
    }
    .footer__grid ul:nth-child(2) {
        grid-column: 2 / 4;
    }
    .footer__grid ul:nth-child(3) {
        grid-column: 4 / 7;
    }
    /* others */
    .checkout {
        gap: 4.8rem;
    }
    .lab__grid {
        display: flex;
        flex-direction: column-reverse;
    }
    .lab__grids {
        display: flex;
        flex-direction: column;
    }
    .lab__grids-content-two {
        padding: 2.8rem 1.8rem;
    }
    .labs__cards {
        display: flex;
        flex-wrap: wrap;
    }
    .lab__figure--image {
        width: 100%;
    }
    .lab-what__images {
        margin-top: 0rem;
    }
    .lab-what__images img {
        margin-top: 1.6rem;
    }
    .lab-what__section .lab__grids {
        gap: 3.2rem;
    }
}

/* 750px === 75rem === 46.875em */
@media screen and (max-width: 46.875em) {
    .navbar {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    .about__section {
        clip-path: none;
        animation: none;
    }
    .why__cards {
        grid-template-columns: 1fr 1fr;
        gap: 2.4rem;
    }
    /* others */
    .checkout {
        gap: 4rem;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .checkout .checkout--image {
        height: 100%;
        display: none;
    }
    .checkout .form__container {
        max-width: 100% !important;
        width: 100%;
    }
    .checkout .checkout--image.checkout--three {
        height: 80%;
    }
    .lab-what__images img:hover {
        transform: rotate(0);
    }
}


/* 650px === 615rem === 40.625em */
@media screen and (max-width: 40.625em) {
    /* 1rem = 8px */
    html {
        font-size: 52.5%;
    }
    .spinner {
        top: 45%;
        left: 45%;
        transform: translate(-50%, -50%);
    }
    
    .profile__card {
        grid-template-columns: 1fr;
        gap: 4.8rem;
        align-items: center;
        margin-top: 0rem;
    }
    .profile--image--box {
        transform: scale(0.7);
        margin: -15rem 0;
    }
    .profile--image {
        width: 100%;
        height: 100%;
        margin: -4.8rem 0;
    }
    .patner__section .section__text {
        width: 100%;
    }
    /*  */
    .lab-what__images img {
        transition: none;
        height: 10rem;
    }
    .courses__figure:hover {
        transform: translateY(0);
        border: none;
    }
    .absolutely-relative-images img:nth-child(5) {
        left: 57%;
        --random-speed: 2.3s;
    }
    .absolutely-relative-images img:nth-child(41) {
        left: 84%;
        --random-speed: 13.2s;
    }
    .absolutely-relative-images img:nth-child(42) {
        left: 79%;
        --random-speed: 9.8s;
    }
    
    @keyframes moveImage {
        0% {
            transform: translateY(100%) rotate(0);
            opacity: .55;
        }
        100% {
            transform: translateY(-4000%) rotate(360deg);
            opacity: 0;
        }
    }
}

@media screen and (max-width: 34em) {
    .courses__cards {
        grid-template-columns: 1fr;
        column-gap: 0;
    }
}


/* 500px === 50rem === 31.25em */
@media screen and (max-width: 31.25em) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.8rem;
    }
    .effect--display-none {
        display: block;
    }
    .hero .hero--effect {
        width: 32rem;
    }
    .hero__details {
        padding: 0;
    }
    .heading__primary {
        font-size: 4.2rem;
        margin-bottom: 1.8rem;
    }
    .text-in {
        margin-bottom: .8rem;
    }
    .hero__text {
        margin-bottom: 3rem;
    }
    .background__image--course {
        height: 8rem;
    }
    .about__image--box {
        margin-bottom: -4.8rem;
    }
    .testimonial__section {
        overflow: hidden;
    }
    .featured__flex {
        gap: 3rem;
    }
    .featured__flex img {
        height: 4.2rem;
        filter: saturate(0);
    }
    img.prestige {
        height: 3.2rem;
    }
    .profile--image--box {
        padding: 1.4rem 0;
    }
    .contact__heading {
        font-size: 2.8rem;
        font-weight: 500;
    }
    .footer {
        padding: 4.8rem 1.2rem;
    }
    .footer__grid {
        display: flex;
        gap: 6.8rem;
        flex-direction: column;
    }
    .footer__grid div:nth-child(1) {
        margin-bottom: 0;
    }
    a:hover, a:active, button:hover, button:active {
        transform: none !important;
        background-color: initial !important;
    }
    .labs__cards {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }
    .lab__figure--image {
        width: 100%;
        height: 24rem;
    }
    .lab__figure {
        width: 100%;
    }

    /*  */
    .lab-hero__section {
        border-bottom: 2px solid #ccc;
    }
    .lab__section--info {
        flex-direction: column;
    }
}


/* 425px === 42.5rem === 26.55em */
@media screen and (max-width: 26.55em) {
    .hero__section {
        padding: 16rem 0 6.4rem;
    }
    .section__heading  {
        font-size: 2.6rem;
    }
    .about__image--box {
        margin-bottom: -8rem;
    }
    .quotes.quote--left {
        margin-bottom: 1.8rem;
    }
    .why__cards {
        grid-template-columns: 1fr;
    }
    .why--figure {
        width: 80%;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .why--title {
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(90deg,#0035fd 20%,#eb00a1);
        display: block;
        text-align: center;
    }
    .courses__cards {
        gap: 2.8rem;
    }
    .content--heading {
        font-size: 2.6rem;
        line-height: 1.15;
        margin-bottom: .8rem;
    }
    .content--title {
        font-size: 1.8rem;
        line-height: 1.3;
        margin-bottom: 1.6rem;
    }
    .courses__figure {
        width: 90%;
        margin: 0 auto;
    }
    .profile--image--box {
        padding: 2.8rem 0 .6rem;
    }
    .profile--details {
        padding-top: 2.4rem;
        z-index: 2;
        text-align: center;
    }
    .profile--name {
        text-shadow: 1.4rem 1.4rem 4.8rem rgba(0, 0, 0, .7);
    }
    .profile--details .profile--socials, .profile--details .profile--actions {
        justify-content: center;
    }
}

/* 380px === 38rem === 26.55em */
@media screen and (max-width: 23.75em) {
    .about__image--box {
        margin-bottom: -12rem;
    }
}